<html>
<body>
    {% if dev_list %}
        <table border="3">
            <tr>
                <th>Name</th>
                <th>Experience</th>
                <th>Country</th>
            </tr>
            {% for dev in dev_list %}
            <tr>
                <td><a href="{% url 'details' dev.id %}">{{dev.Name}}</a></td>
                <td>{{ dev.Experience }}</td>
                <td>{{ dev.Country }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>No Data in Developers</h1>    
    {% endif %}
</body>
</html>